*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f1eb;

}
h1 , h2{
    font-family: 'Playfair Display', serif;
}
/* Navbar */

header{
    background-color: #5c3d2e;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: white;
    font-size: 35px;
}

nav a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover{
    color: #d9a066;
}
/*Home shop*/
 
.Home{
    background-color: #F1E2D1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.title h2{
    font-size: 45px;
    margin-bottom: 20px;
    color: #4b2e2e;
    
}

.title p{
    font-size: 18px;
    margin-bottom: 20px;
    width: 500px;
    line-height: 1.7;
}
.Home img{
     width: 50%;
    height: 550px;
    object-fit: cover;
    border-radius: 15px;
}

/* Menu Section */

.menu{
    padding: 60px;

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Cards */

.card{
    background-color: white;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 20px;
}

.card:hover{
    transform: translateY(-10px);
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h2{
    margin-top: 15px;
    color: #5c3d2e;
}

.price{
    margin: 15px 0;
    font-size: 22px;
    color: #d9a066;
    font-weight: bold;
}

/* Button */

.buy-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #5c3d2e;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 10px;
}

.buy-btn:hover{
    background-color:#d9a066 ;
}
.Contact{
    padding: 60px 20px;
    background-color: #F1E2D1;
    text-align: center;
    margin-top: 80px;
}

.Contact p{
    font-size: 22px;
    color: #4b2e2e;
    line-height: 1.8;
    font-weight: bold;
}
/* Footer */

footer{
    background-color: #5c3d2e;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

@media (max-width: 768px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        width: 220px;
        height: 220px;
    }

}